/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --background-auxilio-2: #0e0e0e;
    --background-auxilio: #131313;
    --cor-contraste: #929292;
    --background-destaque: #0b0b0b;
    --branco-texto: #FFF;
    --texto-destaque: #ffb904;
    --cor-subtitulos: #996830;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-destaque);
    font-family: 'Open Sans', sans-serif;
    color: (var(--branco-texto));
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-contraste);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

.all {
    display: flex;
    flex-direction: column;
}

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
    padding: 0 32px;
    header {
        display: flex;
        gap: 8px;
    }
    
    .menu__title {
        font-family: 'Andada Pro', serif;
        color: #ffb904;
    }
    
    .menu__list {
        display: flex;
        font-size: 16px;
        gap: 32px;
    }
    
    .menu__list__item__contato a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: var(--cor-subtitulos);
    }

}

/*Sessão Title*/

section.title{
    .title__div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background-color: var(--background-auxilio-2);
        padding: 32px;
        gap: 8%;
    }
    
    .title__profile {
        width: 368px;
        height: 368px;
    }
    
    .title__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .title__bio {
        font-family: 'Andada Pro', serif;
        font-weight: 700;
        font-size: 55px;
        color: var(--branco-texto);
    }
    
    h3, .title__subsection {
        font-family: 'Archivo', sans-serif;
        color: var(--cor-subtitulos);
        letter-spacing: 0.9px;
    }
    
    .title__network {
        display: flex;
        gap: 32px;
    }

}

/*Sessão About*/

section.about{
    align-self: center;
    padding: 64px;
    background-color: var(--background-destaque);
    
    .about__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .about__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: var(--cor-subtitulos);
        line-height: 37.57px;
    }
    
    .about__paragraph {
        max-width: 1000px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: var(--branco-texto);
        line-height: 20px;
    }
    
    #subtitle {
        color: var(--cor-contraste);
    }
}

/*Sessão Skills*/

section.skills {
    display: flex;
    background-color: var(--background-auxilio-2);
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 40px;

    .skills__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color:var(--cor-subtitulos);
        line-height: 37.57px;
        text-align: center;
    }
}

.__line {
    display: flex;
    gap: 5rem;
}

.__img__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-contraste);
    gap: 10px;
}

.__img {
    font-size: 3.5rem;
}

.__name {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 40px;

    .hobbies__title {
        Width: 127px;
        Height: 38px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 37.57px;
        text-align: center;
        color:var(--cor-subtitulos);
    }
}

/* Experiência Acadêmica*/

section.academic{
    padding: 50px;
    background-color: var(--background-auxilio-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .academic__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 37.57px;
        color: var(--cor-subtitulos);
    }

    .container {
        display: flex;
        align-items: center;
        color: var(--branco-texto);
    }
    
    .container .experience-header{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    
    .container h4{
        font-family: 'Archivo', sans-serif;
        color: #996830;
        padding-bottom: 10px;
    }
    
    .date {
        font-family: 'Archivo', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: var(--cor-contraste);
    }
    
    .sidebar {
        width: 200px;
        color: var(--cor-contraste);
        position: relative;
    }
    
    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 1;
    }
    
    .sidebar li {
        font-family: 'Archivo', sans-serif;
        padding: 15px 20px;
        cursor: pointer;
        position: relative;
        border-left: 2px solid transparent;
        border-color: var(--cor-contraste);
        transition: background-color 0.3s, border-left 0.3s;
    }
    
    .sidebar li:hover {
        font-weight: bold;
        color: var(--branco-texto);
        background-color: var(--background-destaque);
        border-left: 1px solid #ffb904;
    }
    
    .sidebar li.active {
        font-weight: bold;
        color: var(--cor-subtitulos);
        background-color: var(--background-destaque);
        border-left: 2px solid #ffb904;
    }
    
    .content {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        max-width: 900px;
        gap: 20px;
    }

}

/* experiência*/

section.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 32px;

    .experience__section__title {
        color: var(--cor-subtitulos);
        font-size: 32px;
    }
    
    .project-container { 
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
    }

    .card {
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Archivo', sans-serif;
        color: var(--cor-subtitulos);
    }
    
    .project-image-container {
        position: relative;
        width: 100%;
    }
    
    .project-image {
        width: 100%;
        border-radius: 4px;
    }
    
    .card-highlight {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: var(--cor-subtitulos);
        border-radius: 4px 0px 0px 4px;
    }
    
    .card-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 20px 0 10px 0;
    }
    
    .card-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 10px;
        color: var(--branco-texto);
    }
    
    .card-technologies {
        display: flex;
        font-size: 30px;
        padding: 0px 0px 20px 0px;
        gap: 10px;
    }
    
    .button-container {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px 40px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .button-primary {
        background: var(--cor-subtitulos);
        color: var(--background-auxilio-2);
    }
    
    .button-secondary {
        background: #0E0E0E;
        border: 2px solid var(--cor-subtitulos);
        color: var(--cor-subtitulos);
    }

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}

@media (min-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .project-container { 
        grid-template-columns: 1fr;
    }
}
